@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #edf2f4;
  color: #2b2d42;
  margin: 0;
  padding: 0;
}

header {
  display: flex; /* Establece el contenedor como flexbox */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  justify-content: center;
  text-align: center;
  margin-bottom: 0px;
  background-color: #001f3f;
  color: #fff;
  padding: 10px;
}

header h1 {
  margin: 0;
  font-size: 25px;
}

header img {
  height: 60px;
  margin-right: 20px;
}
nav {
  max-width: 700px;
  margin: 1rem auto;
  display: flex; /* Establece el contenedor como flexbox */
  justify-content: center; /* Centra horizontalmente los elementos */
  
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: space-around;
  flex-direction: column;
  align-items: none;
  padding: 0;
}

nav li {
  margin-bottom: 1px;
}

nav a {
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 10px; 
}

nav a:hover {
  background-color: rgba(55, 118, 188, 0.5);

}

nav .active {
  background-color: rgba(50,120,200,0.8);
}


main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
}

footer {
  text-align: center;
  margin-top: 10px;
  color: #fff;
  padding: 20px;
  background-color: #001f3f;
}