@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    
    
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
}

h1, h2 {
    text-align: center;
}

h2 {
    background-color: #3776bc;
    color: #fff;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-bottom: 0px;
    background-color: #001f3f;
    color: #fff;
    padding: 10px;
}

header img {
    max-width: 100px;
    border-radius: 50%;
}

nav {
    text-align: center;
    background-color: #001f3f;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-bottom: 10px;
}

nav a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px; 
}

nav a:hover {
    background-color: rgba(55, 118, 188, 0.5);
}

nav .active {
    background-color: rgba(50,120,200,0.8);
}

#myButton::before {
    content: "☰";
}

#myButton.open::before {
    content: 'Ｘ';
  }

#myButton {
    font-size: 2rem;
    background-color: #001f3f;
    color: #fff;
    position: absolute;
    top: 12.7rem;
    left: 1.5rem;
    border: none;
    cursor: pointer;
    width: .5rem;
    height: .5rem;
    text-align: left;
    padding: 0;   
}

ul.nav-list li a{
  
    display: block;
    padding: .75rem 2vw;
    color:#fff;
    text-decoration: none;
}
li.current-menu-item a {
    background-color: #3776bc;
    color: #fff;
}

ul.nav-list {
    display: none;
    list-style-type: none;
}

ul.nav-list.open {
    display: block; 
}

.card {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

p {
    margin: 10px; 
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 10px;
    color: #fff;
    padding: 20px;
    background-color: #001f3f;
}
ul {
    list-style-type: none;
}

#lastModified {
    font-style: italic;
}
