nav {
    margin-top: 1px;
}

ul.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul.nav-list li {
    margin-bottom: 30px; 
}

@media (min-width: 768px) {

.card { grid-row: 3/3;}

ul.nav-list {
        flex-direction: row; 
    }

ul.nav-list li {
        margin-right: 20px; 
        margin-bottom: 0;   
    }
}

.main-grind-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }